/* экран для 1920 */
@media screen (min-width: 1440px) and (max-width: 1920px) {
  body, html {
    height: 578vh;
    line-height: 494px;
  }
}

/* экран для 1440 */
@media screen (min-width: 1280px) and (max-width: 1440px) {
  body, html {
    height: 477vh;
    line-height: 409px;
  }
}

/* экран для 1280 */
@media screen (min-width: 1024px) and (max-width: 1280px) {
  body, html {
    height: 434vh;
    line-height: 356px;
  }
}

/* экран для 1024 */
@media screen (min-width: 834px) and (max-width: 1024px) {
  body, html {
    height: 361vh;
    line-height: 294px;
  }
}

/* экран для 834 */
@media screen (min-width: 414px) and (max-width: 834px) {

  body, html {
  height: 303vh;
  line-height: 238px;
}

.add-white {
  border: 3px solid #000000;
}

.add-white-1 {
  left: 11%;
  border: 3px solid #000000;
}

.add-white-3 {
  left: 29%;
  border: 3px solid #000000;
}

.add-green {
  left: 41%;
}

.image-green-2 {
  bottom: 22%;
}

.add-yellow-5 {
  left: 37%;
  bottom: 39%;
}

.add-yellow-2 {
  top: 36%;
}

.anywhere {
  left: 3%;
  width: 54%;
}

.anywheretxt {
  left: 25%;
  font-size: 15%;
}

.anywheretxt1 {
  font-size: 11%;
}

.txt1 {
  left: 17%;
  top: 58%;
}
.txt2 {
  left: 30%;
  top: 58%;
}
.txt3 {
  left: 52%;
  top: 58%;
}
.txt4 {
  left: 63%;
  top: 58%;
}
.txt5 {
  left: 75%;
  top: 58%;
}

.add-white-3 {
  border: 3px solid #000000;
}
}
/* экран для 414 */
@media screen (min-width: 320px) and (max-width: 414px) {
  body, html {
  height: 188vh;
  line-height: 108px;
}

.add-yellow {
  width: 66%;
  height:
}
}

/* экран для 320 */
@media screen (max-width: 320px) {
  body, html {
  height: 144vh;
  line-height: 79px;
}
}
